<% content_for :title do %>
Comparador de Ofertas
<% end %>

<% content_for :header do %>
<div class='wrapper'>
	<div class='float-left'>
		<%= image_tag 'logo.png' %>
	</div>
	<div class='float-right'>
		
	</div>
	<div class='reset-float'></div>
</div>
<% end %>

<% content_for :body do %>
	<div id='search-home'>
		<div class='search-box'>
	</dov>
<% end %>